<div class="col">
  <div class="card h-100">
    <img
      src="/images/food_guide_db/food/{{food_image}}"
      class="card-img-top"
      alt="Skyscrapers"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">
        {{description}}
      </p>
    </div>
    <div class="card-footer">
      <button          
          class="btn btn-outline-warning"
          data-bs-target="#signUp"
          type="button"> 
          
          Click here to see the recipe

          </button>
    </div>
  </div>
</div>