<div class="col">
  <div class="card shadow border-0 h-100">
    <img
      src="/images/food_guide_db/food/{{food_image}}"
      class="card-img-top"
      alt="{{food_image}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">
        {{description}}
      </p>
    </div>
    <div class="card-footer p-3 text-center align-items-center">
      <button
        type="button"
        class="btn btn-outline-dark me-3 btn-sm m-2"
      >
      Please Log In
      </button>
    </div>
  </div>
</div>