<body class="bg-info">
  {{> nav-bar}}
  <main>
    <div class="container mt-3 p-3 text-center">
      <div class="d-flex justify-content-center">
        <h1 style="font-size: 20rem">4</h1>
        <img
          src="/images/404/404Pizza.png"
          class="w-25 m-4"
          alt="404 png image"
        />
        <h1 style="font-size: 20rem">4</h1>
      </div>
      <h4 class="text-primary fs-1 m-3">OOPS... PAGE NOT FOUND</h4>
      <br />
      <a href="/" class="text-decoration-none"><button
          type="button"
          class="btn btn-primary"
        >Back Home</button></a>
    </div>
  </main>
</body>