<body class="bg-primary">
  {{> nav-bar}}
  <main>
    <div class="container text-center mt-1">
      <div class="row row align-items-center">
        <div class="col m-2">
          <p class="fs-1 text-warning bg-dark">
            {{country.name}}
          </p>
        </div>
        <div class="col m-2">
          <img
            src="/images/food_guide_db/flags/{{country.flag_image}}"
            class="img-fluid h-75"
            alt="Sabores Do Mundo index image"
          />
        </div>
      </div>
    </div>
    <div class="container rounded-4 text-center p-5 mt-3 mb-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each country.food as |food|}}
          {{> food-cards}}
        {{/each}}
      </div>
    </div>
  </main>
</body>