<body>
  {{> nav-bar}}
  <main>
    <div class="container text-center mt-1">
      <div class="row row align-items-center">
        <div class="col m-2">
          <p class="fs-1">
            From Mexico to Denmark, take a look to the most delicious and popular
            dishes across the world.
          </p>
          <button class="btn btn-outline-warning">Get Started</button>
        </div>
        <div class="col m-2">
          <img
            src="/images/website_images/Pizza.png"
            class="img-fluid"
            alt="Sabores Do Mundo index image"
          />
        </div>
      </div>
    </div>
    <div class="container text-center bg-warning p-5 mt-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each foods as |food|}}
          {{> food-cards}}
        {{/each}}
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-between mb-5">
        <div
          class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        >
          <div class="team-style07">
            <div class="team-thumb mb-1-9">
              <div class="thumb"><img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  class="rounded-circle"
                  alt="..."
                /></div>
              <div class="team-social">
                <ul class="styled-icons">
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-facebook-f"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-linkedin-in"
                      ></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="h5 mb-1"><a href="#!">User</a></h3>
            <p class="mb-0">Developer</p>
          </div>
        </div>
        <div
          class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
          data-wow-delay=".3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
        >
          <div class="team-style07">
            <div class="team-thumb mb-1-9">
              <div class="thumb"><img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  class="rounded-circle"
                  alt="..."
                /></div>
              <div class="team-social">
                <ul class="styled-icons">
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-facebook-f"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-linkedin-in"
                      ></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="h5 mb-1"><a href="#!">User</a></h3>
            <p class="mb-0">Developer</p>
          </div>
        </div>
        <div
          class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
          data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"
        >
          <div class="team-style07">
            <div class="team-thumb mb-1-9">
              <div class="thumb"><img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  class="rounded-circle"
                  alt="..."
                /></div>
              <div class="team-social">
                <ul class="styled-icons">
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-facebook-f"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-linkedin-in"
                      ></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="h5 mb-1"> <a href="#!">User</a></h3>
            <p class="mb-0">Developer</p>
          </div>
        </div>
        <div
          class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
          data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
        >
          <div class="team-style07">
            <div class="team-thumb mb-1-9">
              <div class="thumb"><img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  class="rounded-circle"
                  alt="..."
                /></div>
              <div class="team-social">
                <ul class="styled-icons">
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-facebook-f"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-linkedin-in"
                      ></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="h5 mb-1"> <a href="#!">User</a></h3>
            <p class="mb-0">Developer</p>
          </div>
        </div>
              <div
          class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
          data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
        >
          <div class="team-style07">
            <div class="team-thumb mb-1-9">
              <div class="thumb"><img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  class="rounded-circle"
                  alt="..."
                /></div>
              <div class="team-social">
                <ul class="styled-icons">
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-github"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-twitter"
                      ></i></a></li>
                  <li><a class="styled-icons-item" href="#!"><i
                        class="fab fa-linkedin-in"
                      ></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="h5 mb-1"> <a href="#!">Raul Maya</a></h3>
            <p class="mb-0">Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>