<body>
  {{> nav-bar}}
  <main>
    <div class="container text-center mt-4">
      <div class="row row align-items-center">
        <div class="col m-2">
          <p class="fs-1 fw-bold">
            From Mexico to Denmark, take a look to the most delicious and popular
            dishes across the world.
          </p>
          <a href="/countries" class="btn btn-outline-warning">Get Started</a>
        </div>
        <div class="col m-2">
          <img
            src="/images/website_images/Pizza.png"
            class="img-fluid shadow rounded-circle"
            alt="Sabores Do Mundo index image"
          />
        </div>
      </div>
    </div>
    <div class="container rounded-4 shadow border-2 text-center bg-warning p-5 mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each foodList as |food|}}
          {{> food-cards}}
        {{/each}}
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-between mb-5">
        {{#each users as |user|}}
         {{> super-users}}
        {{/each}}
      </div>
    </div>
  </main>
</body>