<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary border border-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/images/website_images/SaboresDoMondo.png"
          alt="Logo"
          width="25"
          height="25"
          class="d-inline-block align-text-top"
        />
        Sabores Do Mundo
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
            >Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Top 10</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Dashboard</a>
          </li>
          <li class="nav-item ps-2">
            <button
              class="btn btn-outline-warning"
              data-bs-toggle="modal"
              data-bs-target="#signUp"
              type="button"
            >
              Sign Up
            </button>
            <div
              class="modal fade"
              id="signUp"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1
                      class="modal-title fs-3 text-white font-weight-bold"
                      id="exampleModalLabel"
                    >
                      Sign Up
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label
                          for="username"
                          class="form-label"
                        >Username</label>
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          aria-describedby="usernameHelp"
                          required
                        />
                        <div id="usernameHelp" class="form-text">
                          Your username must only use aplhanumeric values.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email
                          address</label>
                        <input
                          type="email"
                          class="form-control"
                          id="exampleInputEmail1"
                          aria-describedby="emailHelp"
                          required
                        />
                        <div id="emailHelp" class="form-text">
                          We'll never share your email with anyone else.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label
                          for="exampleInputPassword1"
                          class="form-label"
                        >Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword1"
                          required
                        />

                        <div id="passwordHelpInline" class="form-text">
                          Must be 8-20 characters long.
                        </div>
                      </div>

                      <button type="submit" class="btn btn-warning">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item ps-2">
            <button
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#logIn"
              type="button"
            >
              Log In
            </button>
            <div
              class="modal fade"
              id="logIn"
              tabindex="-1"
              aria-labelledby="logInModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1
                      class="modal-title fs-3 text-white font-weight-bold"
                      id="logInModalLabel"
                    >
                      Log In
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="logInInputEmail1" class="form-label">Email
                          address</label>
                        <input
                          type="email"
                          class="form-control"
                          id="logInInputEmail1"
                          aria-describedby="logInemailHelp"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label
                          for="logInexampleInputPassword1"
                          class="form-label"
                          required
                        >Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="logInexampleInputPassword1"
                        />
                      </div>

                      <button type="submit" class="btn btn-warning">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container text-center mt-1">
    <div class="row row align-items-center">
      <div class="col m-2">
        <p class="fs-1">
          From Mexico to Denmark, take a look to the most delicious and popular
          dishes across the world.
        </p>
        <button class="btn btn-outline-warning">Get Started</button>
      </div>
      <div class="col m-2">
        <img
          src="/images/website_images/Pizza.png"
          class="img-fluid"
          alt="Sabores Do Mundo index image"
        />
      </div>
    </div>
  </div>
  <div class="container text-center bg-warning p-5 mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each foods as |food|}}
        {{> index-cards}}
      {{/each}}
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center mt-n1-9">
      <div
        class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
        data-wow-delay=".2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
      >
        <div class="team-style07">
          <div class="team-thumb mb-1-9">
            <div class="thumb"><img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="rounded-circle"
                alt="..."
              /></div>
            <div class="team-social">
              <ul class="styled-icons">
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-facebook-f"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-twitter"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-linkedin-in"
                    ></i></a></li>
              </ul>
            </div>
          </div>
          <h3 class="h5 mb-1"><a href="#!">User</a></h3>
          <p class="mb-0">Developer</p>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
        data-wow-delay=".3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
      >
        <div class="team-style07">
          <div class="team-thumb mb-1-9">
            <div class="thumb"><img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="rounded-circle"
                alt="..."
              /></div>
            <div class="team-social">
              <ul class="styled-icons">
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-facebook-f"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-twitter"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-linkedin-in"
                    ></i></a></li>
              </ul>
            </div>
          </div>
          <h3 class="h5 mb-1"><a href="#!">User</a></h3>
          <p class="mb-0">Developer</p>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
        data-wow-delay=".4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"
      >
        <div class="team-style07">
          <div class="team-thumb mb-1-9">
            <div class="thumb"><img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="rounded-circle"
                alt="..."
              /></div>
            <div class="team-social">
              <ul class="styled-icons">
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-facebook-f"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-twitter"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-linkedin-in"
                    ></i></a></li>
              </ul>
            </div>
          </div>
          <h3 class="h5 mb-1"> <a href="#!">User</a></h3>
          <p class="mb-0">Developer</p>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
        data-wow-delay=".5s"
        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
      >
        <div class="team-style07">
          <div class="team-thumb mb-1-9">
            <div class="thumb"><img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="rounded-circle"
                alt="..."
              /></div>
            <div class="team-social">
              <ul class="styled-icons">
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-facebook-f"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-twitter"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-linkedin-in"
                    ></i></a></li>
              </ul>
            </div>
          </div>
          <h3 class="h5 mb-1"> <a href="#!">User</a></h3>
          <p class="mb-0">Developer</p>
        </div>
      </div>
            <div
        class="col-md-6 col-xl-2 mt-1-9 wow fadeInUp"
        data-wow-delay=".5s"
        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
      >
        <div class="team-style07">
          <div class="team-thumb mb-1-9">
            <div class="thumb"><img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="rounded-circle"
                alt="..."
              /></div>
            <div class="team-social">
              <ul class="styled-icons">
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-facebook-f"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-twitter"
                    ></i></a></li>
                <li><a class="styled-icons-item" href="#!"><i
                      class="fab fa-linkedin-in"
                    ></i></a></li>
              </ul>
            </div>
          </div>
          <h3 class="h5 mb-1"> <a href="#!">User</a></h3>
          <p class="mb-0">Developer</p>
        </div>
      </div>
    </div>
  </div>
</main>