@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  font-family: 'Merienda', cursive;
}

#signUp .modal-header {
  background-image: url(/images/website_images/signUp.jpg);
  background-position: center;
  background-size: cover;
  height: 70px;
}

#logIn .modal-header {
  background-image: url(/images/website_images/logIn.jpg);
  background-position: center;
  background-size: cover;
  height: 70px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.team-thumb img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}


.bg-body-tertiary:hover h3 a,
.bg-body-tertiary:hover p {
  color: #fff;
}

.team-thumb {
  position: relative;
}

.team-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-body-tertiary:hover .team-thumb .team-social .styled-icons li:nth-child(1) {
  left: 5px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.styled-icons li:nth-child(1) {
  position: absolute;
  opacity: 0;
  left: -10px;
  bottom: -20px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.styled-icons li:nth-child(2) {
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -60px;
  transition: all 0.3s ease-in-out;
}

.styled-icons li:nth-child(3) {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -20px;
  transition: all 0.3s ease-in-out;
}

.bg-body-tertiary:hover .team-thumb .team-social .styled-icons li:nth-child(3) {
  position: absolute;
  right: 5px;
  bottom: 0;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.bg-body-tertiary:hover .team-thumb .team-social .styled-icons li:nth-child(2) {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
}

.flag {
  max-width: 50px;
  height: 30px;
}